<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Translate Your Sign</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>
<style>
body,h1 {font-family: "Raleway", sans-serif; color:white; font-weight: bold; }
body, html {height: 100% }
form{ color:white;}
</style>
<body style="background-image: url('https://t4.ftcdn.net/jpg/04/14/64/29/360_F_414642994_uHk3ymAI5D8s5AEILGq6KFBlkq75ATdu.jpg'); background-size: 70% 70%; background-repeat: no-repeat; background-position: center; background-color: #0f092b; margin-left: 5%;">
 <div class="login">
  <h1>Translate Your Sign</h1>

    <div class="Variables">
    <form action="{{ url_for('predict')}}"method="post" enctype=multipart/form-data>

    <label>Pick image</label>
    <input type=file name=file>
 
    </div>
    <br>
   <br>
    <div>
    <button type="submit" class="btn btn-primary btn-block btn-large">Translate</button>
    </div>

    </form>

   <br>
   <br>
   {{ prediction_text }}
   {{ prediction }}

 </div>


</body>
</html>